---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
// import Moon from "../components/Moon.astro";
import { projects } from "../projects";
import ButtonLink from "../components/ButtonLink.astro";

const links: {
  title: string;
  link: string;
}[] = [
  { title: "GitHub", link: "https://github.com/itzmeowww" },
  { title: "Medium", link: "https://medium.com/@itzmeowww" },
];

const site = Astro.site;
---

<script>
  // const moonElem: HTMLElement | null = document.getElementById("moon");
  // window.addEventListener("scroll", () => {
  //   if (moonElem && window.scrollY < 400) {
  //     moonElem.style.rotate = `${window.scrollY / 2.0}deg`;

  //     let t = window.scrollY / 250.0;
  //     let sqt = t * t;
  //     let scale = sqt / (2 * (sqt - t) + 1.0);

  //     moonElem.style.scale = `${1 + scale}`;
  //     // const scroll = window.scrollY;
  //     // if (scroll > 100) {
  //     //   moonElem.style.transform = `translate(${(scroll - 100) / 10.0}px,${
  //     //     (scroll - 100) * 2
  //     //   }px)`;
  //     // }
  //   }
  // });
</script>
<Layout
  title="Thanasan Kumdee"
  description="a brief prologue of me"
  url=""
  paddingTop={false}
>
  <div>
    <!-- <div
      class="w-48 h-48 -z-10 absolute -top-6 -right-6 rounded-full"
      id="moon"
    >
      <Moon />
    </div> -->
  </div>
  <main class="h-screen flex flex-col justify-center items-center w-full pb-12">
    <h1 class="text-3xl sm:text-4xl text-white">Thanasan Kumdee</h1>

    <p class="text-md sm:text-lg text-gray-300">Student at Osaka University</p>
    <div class="flex mt-4 gap-2">
      {
        links.map((data) => {
          return <ButtonLink href={data.link}>{data.title}</ButtonLink>;
        })
      }
    </div>
  </main>

  <div class="w-full -mt-36 mb-24">
    <div class="w-full">
      <p class="text-white tracking-wide text-xl sm:text-2xl mb-3 pl-1">
        PROJECTS
      </p>
      <div class="grid sm:grid-cols-2 gap-4">
        {
          projects.map((project) => (
            <Card
              title={project.title}
              body={project.body}
              href={`/projects/${project.slug}`}
              img={project.img}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
