---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Moon from "../components/Moon.astro";

const links: {
  title: string;
  link: string;
}[] = [
  { title: "GitHub", link: "https://github.com/itzmeowww" },
  { title: "Medium", link: "https://medium.com/@itzmeowww" },
];

const projects: {
  title: string;
  body: string;
  href: string;
  img: string;
}[] = [
  {
    title: "Looooong Cat",
    body: "Create a very long cat",
    href: "https://looooongcat.vercel.app",
    img: "/images/looooong-cat/icon.jpg",
  },
  {
    title: "Geacher",
    body: "Website for finding tutors from KVIS",
    href: "https://geacher.vercel.app",
    img: "/images/geacher/icon.jpg",
  },
  {
    title: "Beta Task Toggler",
    body: "Chrome extension for beta.programming.in.th",
    href: "projects/beta-task-toggler",
    img: "/images/beta-task-toggler/icon.jpg",
  },
];
---

<script>
  const moonElem: HTMLElement | null = document.getElementById("moon");
  window.addEventListener("scroll", () => {
    if (moonElem && window.scrollY < 200) {
      moonElem.style.rotate = `${window.scrollY}deg`;

      let t = window.scrollY / 300.0;
      let sqt = t * t;
      let scale = sqt / (2.0 * (sqt - t) + 1.0);

      moonElem.style.scale = `${1 + scale}`;
    }
  });
</script>
<Layout title="Thanasan Kumdee" paddingTop={false}>
  <div>
    <div
      class="w-48 h-48 -z-10 absolute -top-6 -right-6 rounded-full"
      id="moon"
    >
      <Moon />
    </div>
  </div>
  <main class="h-screen flex flex-col justify-center items-center w-full pb-12">
    <p class="text-3xl sm:text-5xl text-white">Thanasan Kumdee</p>

    <div class="text-md sm:text-xl text-gray-300 pt-1">
      Student at Osaka University
    </div>
    <div class="flex mt-4 gap-2">
      {
        links.map((data) => {
          return (
            <a
              href={data.link}
              class="text-white border bg-gray-900 hover:bg-slate-700 transition-colors
			   border-slate-600 px-2 py-1 rounded-md"
            >
              {data.title}
            </a>
          );
        })
      }
    </div>
  </main>

  <div class="w-full -mt-36 mb-24">
    <div class="w-full">
      <p class="text-white font-medium text-xl mb-3 pl-1">PROJECTS</p>
      <div class="grid sm:grid-cols-2 gap-4">
        {
          projects.map((projects) => (
            <Card
              title={projects.title}
              body={projects.body}
              href={projects.href}
              img={projects.img}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
