---
export interface Props {
  title: string;
  description: string;
  url: string;
  previewImgUrl?: string;
}

const { title, description, url, previewImgUrl } = Astro.props;

const previewImg = `${Astro.site}${
  previewImgUrl ? previewImgUrl : "banner.svg"
}`;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <!-- Primary Meta Tags -->
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={`${Astro.site}${url}`} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={previewImg} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={`${Astro.site}${url}`} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={previewImg} />
</head>
