---
import ButtonLink from "../../components/ButtonLink.astro";
import ToolTag from "../../components/ToolTag.astro";
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../projects";
import type { Project } from "../../projects";
import type { Tool } from "../../types/tools";

export function getStaticPaths() {
  const ret: { params: { id: string }; props: Project }[] = [];
  projects.forEach((project) => {
    ret.push({
      params: { id: project.slug },
      props: project,
    });
  });

  return ret;
}

const { title, tools, preview, body, links, slug } = Astro.props;
---

<Layout
  title={`${title}; Thanasan Kumdee`}
  url={`projects/${slug}`}
  description={body}
  paddingTop={true}
  paddingX={true}
  showNav={true}
>
  <h1
    class="text-gray-100 text-3xl mb-1 font-medium w-full rounded-l-md text-center"
  >
    {title}
  </h1>
  <p class="text-gray-300 text-md text-center w-full">
    {body}
  </p>

  <div
    class="h-72 w-full flex mt-12 overflow-x-scroll bg-gray-800 p-2 gap-2 rounded-lg"
  >
    {
      preview.map((src: string) => (
        <img
          src={src}
          alt={`Preview image of ${title}`}
          class="rounded-lg object-contain text-white w-full h-full"
        />
      ))
    }
  </div>

  <div class="mt-6 flex gap-3 mb-3">
    {
      links.map((link: { href: string; title: string }) => {
        return <ButtonLink href={link.href}>{link.title}</ButtonLink>;
      })
    }
  </div>
  <div class="w-full mt-4">
    <p class="text-gray-100 font-medium text-xl pl-1 mb-3">Crafted By</p>
    <div
      class="border border-gray-500 rounded-md w-full flex justify-center flex-wrap-reverse py-6 mb-20 gap-3"
    >
      {
        tools.map((tool: Tool) => {
          return <ToolTag tool={tool} />;
        })
      }
    </div>
  </div>
</Layout>
