---
import type { MarkdownLayoutProps } from "astro";
import Layout from "./Layout.astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  author: string;
  date: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout description="" paddingTop={true} title={frontmatter.title} url="">
  <h1 class="text-3xl font-medium text-white">{frontmatter.title}</h1>
  <hr class="bg-gray-600 mt-2 mb-1 w-full" />
  <div class="text-gray-200 w-full flex justify-between items-center px-2">
    <p>{frontmatter.author}</p>
    <p>{frontmatter.date}</p>
  </div>
  <div class="prose prose-sm prose-invert py-4">
    <slot />
  </div>
</Layout>
